mjml
    //- Head
    mj-head
        mj-title Pizza Mjml
        mj-raw.
            <meta name="color-scheme" content="light"/>
            <meta name="supported-color-schemes" content="light"/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>

        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif' font-weight='300' font-size='16px' line-height='120%' color='#626262')/
            mj-image(border='none')/
            mj-button(background-color='#F45E43' color="#ffffff" font-size='14px')
        mj-breakpoint(width='480px')
        mj-style.
            .heading{
                padding-top: 15px;
                text-align: center;
                font-style: 18px;
                font-family:"serif"
            }
    //- Body
    mj-body(background-color="#eeeeee")       
        //- content
        block content
        //- map
        block map
            include ../includes/_map
        //- recommended
        block recommended
            include ../includes/_recommended
        //- footer
        block footer
            include ../includes/_footer