extends templates/_layout
//- content
block content
    //- Header Text
    mj-section(background-color='#ffffff')
        mj-column
            mj-text(align='center' font-size='32px' font-style='italic' font-family='serif' padding-top='40px' padding-bottom='40px') The Pizza Times
    mj-section(background-url="https://demo.tutorialzine.com/2017/02/images/header-image.jpg" background-size="cover" background-repeat="no-repeat")
        mj-column
            mj-spacer(height="300px")
    
    
